<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p><a href="{{web}}">{{web}}</a></p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Desarrollador web Full Stack Trainee. Me considero una persona responsable, flexible, servicial, comunicativo, puntual y orientado al logro de los objetivos. Entre las expectativas deseo trabajar en una empresa donde tomen en cuenta mis habilidades y destrezas para poder desenvolverme de manera que pueda incrementar mis conocimientos y reciba una remuneración acorde según el puesto que desempeñe. Poseo un año y medio aprendiendo
		tecnologías en cursos y de manera autodidacta lo cual me ha permitido aprender cada dia mas en este rubro en el cual deseo desempeñarme.
	</p>
</article>